---
title: "Publications"
layout: default
excerpt: "MCube Center -- Publications."
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
    {% for publi in site.data.publications %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            "{{ publi.title }}",

            <!-- container -->
            <b>{{ publi.container-title }}</b>

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">DOI:{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
	
	{% assign current_year = 'now'|date: "%Y" %}
	{% assign min_year = current_year | minus:10 %}
	<!-- String to number (just add 0 to the variable)-->
	{% assign year = current_year | plus:0 %}
	<div class="panel panel-default">
        <div class="panel-heading">
		
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{year}}"
               style="color: inherit;">
				{{year}}
            </a>
        </div>
        <div id="collapse{{year}}" class="panel-collapse collapse">
            <div class="panel-body">
			<!--HBL Duh-->
			{% for publi in site.data.henry %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>				
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			<!--H Cui-->
			{% for publi in site.data.cui %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			
			<!--H Tu-->
			{% for publi in site.data.huawei %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			
			<!--T Feng-->
			{% for publi in site.data.tian %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
            </div>			
        </div>  		
    </div>
	
	{% for i in (0..9) %}
	{% assign year = year|minus: 1 %}
	{% if year > min_year %}
	<div class="panel panel-default">
        <div class="panel-heading">
		
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{year}}"
               style="color: inherit;">
				{{year}}
            </a>
        </div>
        <div id="collapse{{year}}" class="panel-collapse collapse">
            <div class="panel-body">
			<!--HBL Duh-->
			{% for publi in site.data.henry %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>			
				{% endif %}
			{% endfor %}
			<!--H Cui-->
			{% for publi in site.data.cui %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>					
					<p><em>{{ publi.publisher }}</em></p>
					
				{% endif %}
			{% endfor %}
			
			<!--H Tu-->
			{% for publi in site.data.huawei %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			
			<!--T Feng-->
			{% for publi in site.data.tian %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
            </div>			
        </div>  		
    </div>
	{% else %}
	<div class="panel panel-default">
        <div class="panel-heading">
		
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{year}}"
               style="color: inherit;">
				Older
            </a>
        </div>
        <div id="collapse{{year}}" class="panel-collapse collapse">
            <div class="panel-body">
			<!--HBL Duh-->
			{% for publi in site.data.henry %}
				{% if publi.year <= min_year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'HBL Duh' or author contains 'H Duh' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
	
				{% endif %}
			{% endfor %}
			<!--H Cui-->
			{% for publi in site.data.cui %}
				{% if publi.year <= min_year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Cui' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>					
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			
			<!--H Tu-->
			{% for publi in site.data.huawei %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'H Tu' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
			
			<!--T Feng-->
			{% for publi in site.data.tian %}
				{% if publi.year == year %}
					<p><b>{{ publi.title }}</b></p>
					<!-- authors -->
					<p>
					{% assign authors = publi.authors | split:"," %}
					{% assign last_authors = publi.authors | split:"," | last %}					
					{% for author in authors %}
						{% if author contains last_authors %}
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>
							{% else %}
								{{ author }}
							{% endif %}	
						{% else %}	
							{% if author contains 'T Feng' %}
								<b>{{ author }}</b>,
							{% else %}
								{{ author }},
							{% endif %}
						{% endif %}
					{% endfor %}
					</p>
					<p><em>{{ publi.publisher }}</em></p>
				{% endif %}
			{% endfor %}
            </div>			
        </div>  		
    </div>
	{% endif %}
	{% endfor %}
<!--
	{% assign year = year|minus: 1 %}		
	<div class="panel panel-default">
        <div class="panel-heading">
		
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
				{{year}}
            </a>
        </div>
        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
			{% for publi in site.data.henry %}
				{% if publi.year == year %}
					<p>{{ publi.title }}</p>
					<p>{{ publi.authors }}</p>
					<p>{{ publi.year }}</p>
					<a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
						role="button" target="blank">Link</a>
				{% endif %}
			{% endfor %}
			
			{% for publi in site.data.cui %}
				{% if publi.year == year %}
					<p>{{ publi.title }}</p>
					<p>{{ publi.authors }}</p>
					<p>{{ publi.year }}</p>
					<a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
						role="button" target="blank">Link</a>
				{% endif %}
			{% endfor %}
            </div>			
        </div>  		
    </div>
-->	
</div>

